:root {
    --green: #006837;
    --orange: #f4a300;
    --purple: #6a1b9a;
    --light: #f4f7f6;
    --dark: #333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
    color: #333;
}

.site-header{
    background:white;

    padding:20px 0;

    text-align:center;
} 

.site-logo{
    width:180px;
    height:auto;

    display:block;

    margin:auto;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    color: white;

    background-image: url('../images/GenCare X FHAWE/GFH1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.hero h1,
.hero h2,
.hero p,
.hero-buttons {
    position: relative;
    z-index: 2;
}

.hero-buttons {
    margin-top: 20px;
}

.donate {
    background-color: #f4a300;
    color: black;
}

button:hover {
    background-color: #004d2e;
    color: white;
}

button {
    background-color: #006837;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #004d2e;
}

.navbar {
    background: #006837;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: white;
    margin: 0;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #f4a300;
}

.stats-section {
    text-align: center;
    padding: 80px 20px;
    background-color: #f4f7f6;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.stat-box {
    background-color: white;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.stat-box h3 {
    font-size: 28px;
    color: #006837;
    margin: 0;
}

.stat-box p {
    margin: 10px 0 0;
    color: #555;
}

.projects-section {
    text-align: center;
    padding: 80px 20px;
    background-color: white;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.projects-card {
    background-color: #f4f7f6;
    padding: 25px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.projects-card:hover {
    transform: translateY(-5px);
    background-color: #eaf5ef;
}

.projects-card h3 {
    color: #006837;
    margin-bottom: 10px;
}

.projects-card p {
    color: #555;
    font-size: 14px;
}

.cta-section {
    text-align: center;
    padding: 90px 20px;
    background-color: #006837;
    color: white;
}

.cta-buttons {
    margin-top: 25px;
}

.cta-section button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.donate-btn {
    background-color: #f4a300;
    color: black;
}

.volunteer-btn {
    background-color: white;
    color: #006837;
}

.partner-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.cta-section button:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #2e2e2e;
    color: white;
    padding: 60px 20px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-box {
    width: 200px;
}

.footer-box h3 {
    color: white;
    margin-bottom: 10px;
}

.footer-box p {
    margin: 5px 0;
    color: #d0d0d0;
    font-size: 14px;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #444;
    color: #aaa;
    font-size: 13px;
}

.footer {
    border-top: 4px solid var(--purple);
}


#ABOUT SECTION

.about-section {
    text-align: center;
    padding: 80px 20px;
    background-color: #f4f7f6;
}

.about-section h1 {
    color: var(--purple);
}

.about-section p {
    max-width: 700px;
    margin: auto;
    color: #555;
    font-size: 16px;
}

.about-section p {
    margin-bottom: 25px;
}

.info-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 60px 20px;
    background-color: white;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 60px 20px;
    background-color: white;
}

.about-card {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-top: 4px solid var(--green);
    text-align: center;
}

.about-card:hover {
    transform: translateY(-5px);
    border-top: 4px solid var(--purple);
}

.about-card h2 {
    color: var(--green);
}

.about-card p {
    color: #555;
    font-size: 14px;
}

.values-section{
    background-color:#f4f7f6;
    padding:80px 20px;
    text-align:center;
}

.values-section h2{
    color:var(--black);
    margin-bottom:50px;
}

.values-grid{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;

    max-width:1100px;
    margin:auto;
}


.value-card{
    flex:0 1 300px;

    background:white;
    padding:30px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,0.08);

    border-top:4px solid var(--green);

    transition:0.3s;
}

.value-card:hover{
    transform:translateY(-8px);

    border-top:4px solid var(--purple);
}

.value-card h3{
    color:var(--green);
    margin-bottom:15px;
}

.value-card p{
    color:#666;
    line-height:1.7;
}



#PROJECTS SECTION

.page-header {
    text-align: center;
    padding: 80px 20px;
    background-color: #f4f7f6;
}

.page-header h1 {
    color: var(--purple);
}

.page-header p {
    max-width: 700px;
    margin: auto;
    color: #555;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1000px;
    margin: auto;
    padding: 60px 20px;
}

.project-card {
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-top: 4px solid var(--green);
}

.project-card:hover {
    transform: translateY(-5px);
    border-top: 4px solid var(--purple);
}

.project-card h2 {
    color: var(--green);
}

.project-card p {
    color: #555;
    font-size: 14px;
}

.page-header {
    text-align: center;
    padding: 80px 20px;
    background-color: #f4f7f6;
}

.page-header h1 {
    color: var(--black);
}

.page-header p {
    max-width: 700px;
    margin: auto;
    color: #555;
}

#CONTACT SECTION

.contact-header {
    background-color: #f4f7f6;
    text-align: center;
    padding: 80px 20px;
}

.contact-header h1 {
    color: var(--black);
    margin-bottom: 15px;
}

.contact-header p {
    max-width: 700px;
    margin: auto;
    color: #555;
}

.contact-card {
    width: 350px;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);

    text-align: center;
}

.contact-card h2 {
    color: var(--purple);

    margin-bottom: 20px;
}

.contact-card h2,
.contact-card p {
    text-align: center;
}

.contact-card input,
.contact-card textarea {
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-card button {
    width: 150px;
    padding: 12px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-card button:hover {

    background-color: var(--purple);

}

.whatsapp-btn {

    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.contact-card h2 {
    color: var(--black);
    margin-bottom: 20px;
}

.contact-page-header{
    background:#f4f7f6;
    padding:80px 20px;
}

.contact-page-title{
    max-width:700px;
    margin:auto;
    text-align:center;
}

.contact-page-title h1{
    color:var(--black);
    margin-bottom:15px;
}

.contact-page-title p{
    color:#555;
}

.contact-page-section{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
    padding:60px 20px;
}

.contact-page-card{
    width:350px;
    background:#f9f9f9;
    padding:30px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.contact-page-card h2,
.contact-page-card p{
    text-align:center;
}

.contact-page-card h2{
    text-align:center;
    color:var(--black);
    margin-bottom:20px;
}

.contact-page-card p{
    text-align:center;
}

.contact-page-card form{
    width:100%;
}

.contact-page-card input,
.contact-page-card textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

.contact-page-card button{
    display:block;
    margin:20px auto 0 auto;

    width:150px;
    padding:12px;

    background-color:var(--green);
    color:white;

    border:none;
    border-radius:5px;

    cursor:pointer;
}

.contact-page-section{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
    flex-wrap:wrap;

    padding:60px 20px;
}